server:
  port: 28080 # 服务器端口。默认为 8080


spring:
  application:
    name: demo-consumer # Spring 应用名
  cloud:
    nacos:
      # Nacos 作为注册中心的配置项，对应 NacosDiscoveryProperties 配置类
      discovery:
        server-addr: 118.24.149.206:8848 # Nacos 服务器地址

    stream:
      bindings:
        #        input:
        #          destination: greetings

        example-topic-input:
          destination: delay-topic
          group: test
          consumer:
            max-attempts: 1

        example-topic-output:
          destination: delay-topic


      rabbit:
        bindings:
          example-topic-input:
            consumer:
              #       delayed-exchange: true
              requeue-rejected: true

  #          example-topic-output:
  #            producer:
  #              delayed-exchange: true






  rabbitmq:
    host: 118.178.106.224
    port: 5672
    username: java
    password: m91byqJarBhYeq0j
    virtual-host: java_pay



# Dubbo 配置项，对应 DubboConfigurationProperties 类
dubbo:
  # Dubbo 服务注册中心配置，对应 RegistryConfig 类
  registry:
    address: spring-cloud://118.24.149.206:8848 # 指定 Dubbo 服务注册中心的地址
  # Spring Cloud Alibaba Dubbo 专属配置项，对应 DubboCloudProperties 类
  cloud:
    subscribed-services: demo-provider # 设置订阅的应用列表，默认为 * 订阅所有应用。


